- content_for(:vouchers_content) do
  .alert.alert-error Sua requisição de impressão não foi encontrada
  %h4.white.f Requisite a impressão do seu voucher na página do voucher

= render template: 'templates/vouchers/index'
