<h1>New photo</h1>

<form id="new-photo" name="photo">
  <div class="field">
    <label for="image"> image:</label>
    <input type="text" name="image" id="image" value="<%= image %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Photo" />
  </div>

</form>

<a href="#/index">Back</a>