- content_for :javascripts do
  = javascript_include_tag 'photos/upload'
  :coffeescript
    window.RESOURCE_PATH = "#{admix_album_photos_path(defined?(parent) ? parent : resource)}"
  
%h3 Upload de fotos
#upload-container